{% extends 'public/base.html' %}

{% block head %}
{% endblock %}

{% block content %}

    <section id="parallax"
             class="slider-area slider-bg second-slider-bg slider-bg2 d-flex align-items-center justify-content-center fix"
             style="background-image:url(/static/images/landing/1.jpg)">
        <div class="slider-active">
            <div class="single-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="slider-content second-slider-content" style="margin-top: -132px;">
                                <h2 data-animation="fadeInUp animated" data-delay=".4s">IBERO-AMERICAN <br> BIOMETRICS
                                    <br> MEETING</h2>
                                <ul data-animation="fadeInUp animated" data-delay=".2s">
                                    <li><i class="fas fa-map-marker-alt"></i> Quito, Ecuador</li>
                                    <li><i class="fa fa-clock"></i> July 09-11, 2025</li>
                                    <li><i class="fa fa-building"></i> IX Edition</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="about-area about-p pt-120 pb-120 p-relative">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-content s-about-content pl-30">
                        <div class="about-title second-atitle">
                            <div class="text-outline wow fadeInUp animated" data-animation="fadeInUp animated"
                                 data-delay=".2s">
                            </div>
                            <h2 class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".4s">IX
                                Ibero-American Biometrics Meeting 2025</h2>
                        </div>
                        <div class="wow fadeInDown animated" data-animation="fadeInUp animated" data-delay=".2s">
                            <p>The State University of Milagro (UNEMI), in collaboration with the Spanish Council of
                                Ibero-American Studies and the University of Salamanca, invites academics, researchers,
                                and professionals to the IX Ibero-American Biometrics Meeting (EIB) 2025 in Quito,
                                Ecuador. This international congress will address advances in biometrics and statistics
                                in areas such as health, agriculture, and sustainability, fostering collaboration and
                                innovation. Join us to connect with experts, share knowledge, and promote scientific and
                                sustainable progress in Ibero-America.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="s-video-wrap" style="background-image:url(/static/eventes/img/video_bg_2.jpg)">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="important" class="about-area about-p pt-120 pb-50 p-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-content s-about-content pl-30">
                        <div class="about-title second-atitle">
                            <div class="text-outline">
                                <span>About</span>
                            </div>
                            <span class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">About Us</span>
                            <h2 class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">Learn
                                about this event</h2>
                        </div>
                        <p>The IX Ibero-American Biometrics Meeting is an international academic congress that has
                            brought together experts since 2007. Originally organized by the University of Salamanca and
                            the Spanish Council of Ibero-American Studies, this event promotes the exchange of knowledge
                            in statistical and mathematical methods applied to disciplines such as Biology, Medicine,
                            Psychology, Pharmacology, and Agriculture. Known for its scientific rigor and
                            interdisciplinary collaboration, the meeting fosters dialogue among Ibero-American
                            researchers and the dissemination of biometric and statistical advances to drive scientific
                            development.</p>
                    </div>
                </div>
                <div class="col-lg-6 pt-60">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="feature-box text-left wow fadeInDown animated"
                                 data-animation="fadeInDown animated" data-delay=".2s">
                                <div class="icon color1">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <div class="content">
                                    <h5>Networking</h5>
                                    <p>Boost scientific networks to apply biometrics in key disciplines and promote
                                        sustainable development.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-box text-left wow fadeInDown animated"
                                 data-animation="fadeInDown animated" data-delay=".2s">
                                <div class="icon color3">
                                    <i class="fa fa-cogs"></i>
                                </div>
                                <div class="content">
                                    <h5>Promote Analysis</h5>
                                    <p>Foster interdisciplinary debates on biometric theories and practices.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-box text-left wow fadeInDown animated"
                                 data-animation="fadeInDown animated" data-delay=".2s">
                                <div class="icon color3">
                                    <i class="fa fa-magic"></i>
                                </div>
                                <div class="content">
                                    <h5>Drive Innovation</h5>
                                    <p>Propose biometric solutions for local and global challenges.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-box text-left wow fadeInDown animated"
                                 data-animation="fadeInDown animated" data-delay=".2s">
                                <div class="icon color4">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="content">
                                    <h5>Consolidate EIB as Key Space</h5>
                                    <p>Position the Meeting as a reference in health, wellness, and sustainability
                                        research.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="event-topics py-5">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-12">
                    <div class="text-center">
                        <h2 class="section-title">Topics to be Developed</h2>
                        <div class="divider mb-4"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="accordion custom-accordion" id="topicsAccordion">
                        <!-- Public Health -->
                        <div class="accordion-item border-0 mb-3">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#topic2">
                                    <div class="button-content">
                                        <div class="topic-icon">
                                            <i class="fas fa-heartbeat"></i>
                                        </div>
                                        <div class="topic-header w-100">
                                            <div class="d-flex justify-content-between align-items-center w-100">
                                                <div class="header-text">
                                                    <h3>Biometrics Applied to Public Health</h3>
                                                    <span class="topic-subtitle">Applications in medicine and comprehensive human wellbeing</span>
                                                </div>
                                                <div class="expand-icon ms-3">
                                                    <i class="fas fa-chevron-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="topic2" class="accordion-collapse collapse" data-bs-parent="#topicsAccordion">
                                <div class="accordion-body">
                                    <ul class="content-list">
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Biometric methods for epidemiological analysis</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Application of statistical models in personalized medicine</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Biometrics for public health policy evaluation</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Use of biometrics to measure and improve human wellbeing</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Sustainable Development -->
                        <div class="accordion-item border-0 mb-3">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#topic3">
                                    <div class="button-content">
                                        <div class="topic-icon">
                                            <i class="fas fa-leaf"></i>
                                        </div>
                                        <div class="topic-header w-100">
                                            <div class="d-flex justify-content-between align-items-center w-100">
                                                <div class="header-text">
                                                    <h3>Biometrics and Sustainable Development</h3>
                                                    <span class="topic-subtitle">Resource management and environmental sustainability</span>
                                                </div>
                                                <div class="expand-icon ms-3">
                                                    <i class="fas fa-chevron-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="topic3" class="accordion-collapse collapse" data-bs-parent="#topicsAccordion">
                                <div class="accordion-body">
                                    <ul class="content-list">
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Biometric analysis for natural resource management</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Applied statistics for climate change mitigation and adaptation</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Biometric tools in sustainable agriculture and food security</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Mathematical models for environmental and energy impact analysis</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Methodological Advances -->
                        <div class="accordion-item border-0 mb-3">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#topic4">
                                    <div class="button-content">
                                        <div class="topic-icon">
                                            <i class="fas fa-microchip"></i>
                                        </div>
                                        <div class="topic-header w-100">
                                            <div class="d-flex justify-content-between align-items-center w-100">
                                                <div class="header-text">
                                                    <h3>Methodological Advances in Biometrics</h3>
                                                    <span class="topic-subtitle">Innovation in methods and technologies</span>
                                                </div>
                                                <div class="expand-icon ms-3">
                                                    <i class="fas fa-chevron-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="topic4" class="accordion-collapse collapse" data-bs-parent="#topicsAccordion">
                                <div class="accordion-body">
                                    <ul class="content-list">
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Innovations in statistical and computational methods</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Big data models and machine learning</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Advanced experimental design and multivariate analysis</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Use of emerging software and technologies</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Collaboration -->
                        <div class="accordion-item border-0 mb-3">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#topic5">
                                    <div class="button-content">
                                        <div class="topic-icon">
                                            <i class="fas fa-network-wired"></i>
                                        </div>
                                        <div class="topic-header w-100">
                                            <div class="d-flex justify-content-between align-items-center w-100">
                                                <div class="header-text">
                                                    <h3>Interdisciplinary Collaboration</h3>
                                                    <span class="topic-subtitle">International networks and collaborative projects</span>
                                                </div>
                                                <div class="expand-icon ms-3">
                                                    <i class="fas fa-chevron-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="topic5" class="accordion-collapse collapse" data-bs-parent="#topicsAccordion">
                                <div class="accordion-body">
                                    <ul class="content-list">
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Strengthening international research networks</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Collaborative projects between academia, public and private sectors</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Impact on higher education and professional training</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Global Issues -->
                        <div class="accordion-item border-0 mb-3">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#topic6">
                                    <div class="button-content">
                                        <div class="topic-icon">
                                            <i class="fas fa-globe"></i>
                                        </div>
                                        <div class="topic-header w-100">
                                            <div class="d-flex justify-content-between align-items-center w-100">
                                                <div class="header-text">
                                                    <h3>Statistics Applied to Global Issues</h3>
                                                    <span class="topic-subtitle">Analysis of social and demographic challenges</span>
                                                </div>
                                                <div class="expand-icon ms-3">
                                                    <i class="fas fa-chevron-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                            </h2>
                            <div id="topic6" class="accordion-collapse collapse" data-bs-parent="#topicsAccordion">
                                <div class="accordion-body">
                                    <ul class="content-list">
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Statistical methods to address social inequalities</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Use of biometrics in migration and demographic studies</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="list-item">
                                                <div class="item-dot"></div>
                                                <span>Statistics and data analysis in security and social justice</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="team" class="team-area p-relative pt-120 pb-120 fix">
        <div class="section-t team-t paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15"
             data-paroller-factor-md="0.15" data-paroller-factor-sm="0.15" data-paroller-type="foreground"
             data-paroller-direction="horizontal"><h2>Committee</h2></div>
        <div class="circal1 item-zoom-inout"></div>
        <div class="circal2 item-zoom-inout"></div>
        <div class="circal3 item-zoom-inout"></div>
        <div class="circal4 item-zoom-inout"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title text-center mb-80">
                        <span class="wow fadeInUp animated" data-animation="fadeInUp animated"
                              data-delay=".2s">Committee</span>
                        <h2 class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".4s">Organizing
                            Committee</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInDown animated" data-animation="fadeInUp animated"
                     data-delay=".2s">
                    <div class="single-team text-center pt-50  pb-50 mb-30">
                        <div class="team-thumb" style="width: 80%; margin: auto;">
                            <img src="/static/images/sin-perfil.png" alt="img">
                        </div>
                        <div class="team-info">
                            <h5>Dr. Edwin Carrasquero</h5>
                            <p>ecarrasqueror@unemi.edu.ec</p>
                            <strong>Vice President of Research and Graduate Studies. UNEMI. Ecuador</strong>
                            <br>
                            <span>President</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInDown animated" data-animation="fadeInUp animated"
                     data-delay=".2s">
                    <div class="single-team text-center pt-50  pb-50 mb-30">
                        <div class="team-thumb" style="width: 80%; margin: auto;">
                            <img src="/static/images/sin-perfil.png" alt="img">
                        </div>
                        <div class="team-info">
                            <h5>Dr. Purificación Galindo Villardón</h5>
                            <p>purificacion.galindo@unemi.edu.ec</p>
                            <strong>Visiting Professor UNEMI. Ecuador</strong>
                            <br>
                            <span>Vice President</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInDown animated" data-animation="fadeInUp animated"
                     data-delay=".2s">
                    <div class="single-team text-center pt-50  pb-50 mb-30">
                        <div class="team-thumb" style="width: 80%; margin: auto;">
                            <img src="/static/images/sin-perfil.png" alt="img">
                        </div>
                        <div class="team-info">
                            <h5>Dr. Paolo Geovanny Fabre Merchán</h5>
                            <p>pfabrem@unemi.edu.ec</p>
                            <strong>Dean of Research. UNEMI. Ecuador</strong>
                            <br>
                            <span>Vice President</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="event fix pt-120 pb-120">
        <div class="section-t team-t paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15"
             data-paroller-factor-md="0.15" data-paroller-factor-sm="0.15" data-paroller-type="foreground"
             data-paroller-direction="horizontal"><h2>Event</h2></div>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="section-title text-center mb-80">
                    <span class="wow fadeInUp animated" data-animation="fadeInUp animated"
                          data-delay=".2s">Calendar</span>
                    <h2 class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".2s">Event
                        Calendar</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="wow fadeInDown animated" data-animation="fadeInDown animated" data-delay=".2s">
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active show" id="nav-home-tab" data-bs-toggle="tab"
                               data-bs-target="#one">
                                <img src="/static/eventes/img/t-icon.png" alt="img" class="drk-icon">
                                <img src="/static/eventes/img/t-w-icon1.png" alt="img" class="lgt-icon">
                                <div class="nav-content">
                                    <strong>First Day</strong>
                                    <span>Wednesday, July 9, 2025</span>
                                </div>
                            </a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#two"
                               aria-selected="false">
                                <img src="/static/eventes/img/t-icon.png" alt="img" class="drk-icon">
                                <img src="/static/eventes/img/t-w-icon1.png" alt="img" class="lgt-icon">
                                <div class="nav-content">
                                    <strong>Second Day</strong>
                                    <span>Thursday, July 10, 2025</span>
                                </div>
                            </a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-bs-toggle="tab"
                               data-bs-target="#three" aria-selected="false">
                                <img src="/static/eventes/img/t-icon.png" alt="img" class="drk-icon">
                                <img src="/static/eventes/img/t-w-icon1.png" alt="img" class="lgt-icon">
                                <div class="nav-content">
                                    <strong>Third Day</strong>
                                    <span>Friday, July 11, 2025</span>
                                </div>
                            </a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0 wow fadeInDown animated"
                         data-animation="fadeInDown animated" data-delay=".2s" id="nav-tabContent">
                        <div class="tab-pane fade active show" id="one" role="tabpanel">
                            <!-- row loop -->
                            <div class="row mb-30">
                                <div class="col-lg-12">
                                    <div class="event-list-content fix">
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 10:00 - 10:30</span>
                                            <b>Registration and Materials Distribution</b></p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 10:30 - 11:00 </span><b>Opening Ceremony</b></p>
                                        <p style="margin-left:10px">
                                            ° Welcome by Dr. Jorge Fabricio Guevara Viejó (President of UNEMI).<br>
                                            ° Words from the organizing committee.
                                        </p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 11:00 - 12:00 </span><b>Keynote Lecture 1</b></p>
                                        <p style="margin-left:10px">
                                            ° <b>Speaker:</b> Dr. Purificación Galindo Villardón (USAL, Spain).<br>
                                            ° <b>Topic:</b> Innovation in Biometric Methods for Sustainable Development.<br>
                                        </p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 12:00 - 13:30 </span><b>Lunch Break</b></p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 13:30 - 15:00 </span><b>Plenary Session 1</b></p>
                                        <p style="margin-left:10px">
                                            ° <b>Topic:</b> Advances in Biometrics Applied to Public Health.<br>
                                            ° <b>Moderator:</b> Dr. Carolina Marchant (Chilean Biometrics Group).<br>
                                        </p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 15:00 - 15:30 </span><b>Coffee Break</b></p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 15:30 - 17:00 </span><b>Keynote Lecture 2</b></p>
                                        <p style="margin-left:10px">
                                            ° <b>Speaker:</b> Dr. Sergio Bramardi (National University of Comahue, Argentina).<br>
                                            ° <b>Topic:</b> Challenges and Opportunities in Biometrics for Local Development.<br>
                                        </p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 17:00 - 18:00 </span><b>Panel Discussion</b></p>
                                        <p style="margin-left:10px">
                                            ° <b>Topic:</b> Role of Biometrics in Comprehensive Human Wellbeing.<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="two" role="tabpanel">
                            <!-- row loop -->
                            <div class="row mb-30">
                                <div class="col-lg-12">
                                    <div class="event-list-content fix">
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 08:30 - 10:00 </span><b>Keynote Lecture 3</b></p>
                                        <p style="margin-left:10px">
                                            ° <b>Speaker: </b>Dr. Luís Fernando Grajales (UNAL, Colombia).<br>
                                        </p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 10:00 - 10:30 </span><b>Coffee Break</b></p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 10:30 - 12:00 </span><b>Plenary Session 2</b></p>
                                        <p style="margin-left:10px">
                                            ° <b>Topic:</b> Biometrics and Sustainable Development.<br>
                                            ° <b>Moderator:</b> Dr. Claudio Ruff Escobar (UBO, Chile).<br>
                                        </p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 12:00 - 13:30 </span><b>Lunch Break</b></p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 13:30 - 15:00 </span><b>Concurrent Sessions (Rooms A, B and C)</b></p>
                                        <p style="margin-left:10px">
                                            ° <b>Room A:</b> Applied Statistics in Biology<br>
                                            ° <b>Room B:</b> Biometric Models in Pharmacology<br>
                                            ° <b>Room C:</b> Innovations in Data Analysis for Sustainability<br>
                                        </p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 15:00 - 15:30 </span><b>Coffee Break</b></p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 15:30 - 16:30 </span><b>Keynote Lecture 4</b></p>
                                        <p style="margin-left:10px">
                                            ° <b>Speaker:</b> Dr. Adriana Pérez (President of Central American and Caribbean Region).<br>
                                        </p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 16:30 - 18:30 </span><b>Cultural Tour</b></p>
                                        <p style="margin-left:10px">
                                            ° <b>Location:</b> Ciudad y Museo Mitad del Mundo (Middle of the World Museum).<br>
                                            ° Includes guided tours and integration activities for attendees.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="three" role="tabpanel">
                            <div class="row mb-30">
                                <div class="col-lg-12">
                                    <div class="event-list-content fix">
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 08:30 - 10:00 </span><b>Keynote Lecture 5</b></p>
                                        <p style="margin-left:10px">
                                            ° <b>Speaker: </b>Dr. Raúl Macchiavelli (UPR, Puerto Rico).<br>
                                        </p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 10:00 - 10:30 </span><b>Coffee Break</b></p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 10:30 - 12:00 </span><b>Plenary Session 3</b></p>
                                        <p style="margin-left:10px">
                                            ° <b>Topic:</b> Statistics and Sustainable Development.<br>
                                            ° <b>Moderator:</b> Dr. Anabel Forte Deltell (University of Valencia, Spain).<br>
                                        </p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 12:00 - 13:30 </span><b>Lunch Break</b></p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 13:30 - 15:00 </span><b>Concurrent Sessions (Rooms A, B and C)</b></p>
                                        <p style="margin-left:10px">
                                            ° <b>Room A:</b> Biometrics and Sustainable Agriculture<br>
                                            ° <b>Room B:</b> Innovative Methods in Applied Statistics<br>
                                            ° <b>Room C:</b> Data Analysis for Human Wellbeing<br>
                                        </p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 15:00 - 15:30 </span><b>Coffee Break</b></p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 15:30 - 16:30 </span><b>Keynote Lecture 6</b></p>
                                        <p style="margin-left:10px">
                                            ° <b>Speaker:</b> Dr. Carles Cuadras Avellana (Central University of Barcelona, Spain).<br>
                                        </p>
                                        <p><span style="color:#ff9900"><i class="fa fa-clock"></i> 16:30 - 17:00 </span><b>Closing Ceremony</b></p>
                                        <p style="margin-left:10px">
                                            ° Summary of main contributions<br>
                                            ° Closing remarks from the organizing committee.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="pricing" class="pricing-area pt-113 pb-90 fix"
         style="background-image:url(/static/eventes/img/pricing_bg.jpg);background-size: cover;">
    <div class="section-t team-t paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15"
         data-paroller-factor-md="0.15" data-paroller-factor-sm="0.15" data-paroller-type="foreground"
         data-paroller-direction="horizontal"><h2>Plans</h2></div>
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8">
            <div class="section-title text-center mb-80">
                <span class="wow fadeInUp animated" data-animation="fadeInUp animated"
                      data-delay=".2s">Our Rates</span>
                <h2 class="wow fadeInUp animated" data-animation="fadeInUp animated" data-delay=".4s">Register
                    Now</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="pricing-box active text-center mb-30 wow fadeInDown animated"
                     data-animation="fadeInDown animated" data-delay=".2s">
                    <div class="pricing-head">
                        <h4>SPEAKERS</h4>
                        <div class="price-count mb-30">
                            <h2><small>$</small>300</h2>
                        </div>
                    </div>
                    <div class="pricing-body mb-40">
                        <p>A 25% discount will be applied for UNEMI Faculty</p>
                        <div class="pricing-btn mt-40">
                            <a href="#" class="btn"><i class="fa fa-ticket-alt"></i> Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-box active text-center mb-30 wow fadeInDown animated"
                     data-animation="fadeInDown animated" data-delay=".2s">
                    <div class="pricing-head">
                        <h4>ATTENDEES</h4>
                        <div class="price-count mb-30">
                            <h2><small>$</small>100</h2>
                        </div>
                    </div>
                    <div class="pricing-body mb-40">
                        <p>A 25% discount will be applied for UNEMI Faculty</p>
                        <div class="pricing-btn mt-40">
                            <a href="#" class="btn"><i class="fa fa-ticket-alt"></i> Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pricing-box active text-center mb-30 wow fadeInDown animated"
                     data-animation="fadeInDown animated" data-delay=".2s">
                    <div class="pricing-head">
                        <h4>STUDENT</h4>
                        <div class="price-count mb-30">
                            <h2><small>$</small>50</h2>
                        </div>
                    </div>
                    <div class="pricing-body mb-40">
                        <p>For presentation or attendance (If attendance certificate is required)</p>
                        <div class="pricing-btn mt-40">
                            <a href="#" class="btn"><i class="fa fa-ticket-alt"></i> Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block jscript %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const adjustColumnHeights = () => {
                // Selecciona todas las columnas
                const columns = document.querySelectorAll('.single-team');
                let maxHeight = 0;

                // Restablece las alturas para recalcular
                columns.forEach(column => {
                    column.style.height = 'auto';
                });

                // Encuentra la altura máxima entre todas las columnas
                columns.forEach(column => {
                    const height = column.offsetHeight;
                    if (height > maxHeight) {
                        maxHeight = height;
                    }
                });

                // Aplica la altura máxima a todas las columnas
                columns.forEach(column => {
                    column.style.height = `${maxHeight}px`;
                });
            };

            // Ajusta las alturas al cargar la página
            adjustColumnHeights();

            // Ajusta las alturas al redimensionar la ventana
            window.addEventListener("resize", adjustColumnHeights);
        });
    </script>
{% endblock %}



