{% extends 'public/base.html' %}
{% block link %}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <section class="pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="section-title text-center">
                        <h2>¿Olvidaste tu contraseña?</h2>
                        <span>Cambia tu contraseña en tres sencillos pasos. Esto ayuda a mantener segura tu nueva contraseña.</span>
                        <ul class="list-unstyled pb-lg-0">
                            <li class="d-flex">
                                <span class="text-primary fw-semibold me-2">1.</span>Completa tu dirección de correo
                                electrónico.
                            </li>
                            <li class="d-flex">
                                <span class="text-primary fw-semibold me-2">2.</span>Te enviaremos un código temporal
                                por correo electrónico.
                            </li>
                            <li class="d-flex">
                                <span class="text-primary fw-semibold me-2">3.</span>Usa el código para cambiar tu
                                contraseña en nuestro sitio web seguro.
                            </li>
                        </ul>
                    </div>
                    <div class="contact-wrapper bg-white p-4 rounded shadow-sm">
                        <form method="post" id="frm-restaurar">{% csrf_token %}
                            <div class="mb-4">
                                <div class="c-icon">
                                    <input class="form-control form-control-lg ps-5 input-record" type="email"
                                           placeholder="Correo electronico" name="email" id="recoverEmail" required>
                                    <i class="fa fa-envelope"></i>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn w-100" type="submit">
                                    <i class="fa fa-sync"></i>&nbsp; Recuperar Contraseña
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block jscript %}
    <script>
        $('#frm-restaurar').on({
            submit: function (e) {
                e.preventDefault();
                var frmData = new FormData($(this)[0]);
                $.ajax({
                    url: '{{ request.path }}',
                    data: frmData,
                    method: 'POST',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        pantallaespera()
                    }
                }).done(function (data) {
                    setTimeout($.unblockUI, 1);
                    if (data.resp === true) {
                        location = "/login/";
                        return false;
                    } else {
                        mensajeDanger(data.error);
                    }
                }).fail(function () {
                    setTimeout($.unblockUI, 1);
                    mensajeDanger('Connection error.')
                });
            }
        });
    </script>
{% endblock %}